*, :after, :before{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #fafaf9;
    font-family: 'UnistraA-Regular','Courier New', Courier, monospace;
}

.header{
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-width: 100vw;
    overflow: hidden;
    z-index: 1;
}
.el{
    margin: 0 10px;
}
.header a{
    text-decoration: none;
    color: inherit;
}
.logo{
    font-size: 1.5em;
    margin: 10px;
}
.uni, .stra, .void {
    background-color: rgb(248, 248, 248);
    padding: 10px;
    border: solid 2px black;
    border-collapse: collapse;
}
.stra{
    font-family: 'UnistraB-Bold';
}

svg{
    color: rgb(121, 42, 29);
    width: 50px;
    height: auto;
}
.coffee{
    font-family: 'UnistraB-Bold';
    font-size: 2rem;
}
.container{
    background-color: rgba(255, 255, 255, 0);
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.title{
    font-family: 'UnistraB-Bold';
    font-size: 1.5em;
}

.row div {
    width: 50%;
    padding: 15px;
    overflow: hidden;
    
}
.img img{
    width: 100%;
    height: auto;
    position: relative;
}





/* ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// */
@media (min-width: 800px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        overflow: hidden;

    }
    .bande{
        height: 100px;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80vw;
        max-height: 300px;
    }
    
 
    
    
    .footer{
        padding: 30px 0 30px;
        margin-top: 20px;
        text-align: center;
        background-color: #fff;
    }
    .both{
        display: flex;
        justify-content: space-evenly;
    }
    
}


@media (max-width: 800px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:static; 
    }
    
    .bande{
        height: 20px;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }

    .footer{
        padding: 30px 0 30px;
        margin-top: 20px;
        text-align: center;
        background-color: #fff;
    }
    .both{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@font-face {
    font-family: "UnistraA-Regular";
    src: url("font/UnistraA-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Bold";
    src: url("font/UnistraB-Bold.ttf") format("truetype");
}